body{
	margin: 0;
	padding: 0;
	background-color: #ededed;

}

.header{
	width:100%;
	height:50px;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.name{
	height:35px;
	width:200px;
	background-color: #4aaaa5;
	color: #f4fcfd;
	font-size: 24px;
	text-align: center;
	padding-top: 15px;
	margin-left: 100px;
	float: left;
}

.Navigation-links {
	float: left;
	padding-left: 500px;
	background-color: white;
	color:#5f5f5f;
}

#Navigation-links-About{	
    left: 400px;
	float: left;
	height:35px;
	width:100px;
	text-align: center;
	padding-top: 15px;

}

#Navigation-links-Portofolio{
    left: 450px;
	float: left;
	height:35px;
	width:100px;
	text-align: center;
	padding-top: 15px;
}

#Navigation-links-Contact{
    left: 500px;
	float: left;
	height:35px;
	width:100px;
	text-align: center;
	padding-top: 15px;
}

.body-container{
    width: 600px;
    height: 600px;
    background: white;
    margin-left: 100px;
    margin-top: 35px;
    margin-right: 20px;
    float: left;
	
}

.content{
	padding: 20px;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
	width:95%; 
}

#body-Header{
	font-size: 24px;
	color: #4aaaa5;
	padding-left: 20px;
	padding-top: 10px;

}

.contactMe-Social{
	float: left;
    margin: 35px;
    height: 200px;
    width: 200px;
    background: white;
}

.social-icons{
	padding: 10px;
}

#Contact-me{
	font-size: 24px;
	color: #4aaaa5;
	padding-left: 20px;
	padding-top: 10px;
}

#github-Icon{
	height: 50px;
	width: 50px;
}

#Linkedin-Icon{
	height: 50px;
	width: 50px;
}

#stackoverflow-Icon{
	height: 50px;
	width: 50px;
}


.footer{
	position: fixed;
	bottom: 0;
	background-color: #5f5f5f;
	width: 100%;
	height: 25px;
	text-align: center;
	padding:25px
}

.textbox{
	width: 100%;
}
.textarea{
	width: 100%;
	height: 300px;
}